---
layout: default
title: Operation PEACCE Robotics
bg: light
txt: dark
---
<meta property="og:title" content="Operation PEACCE Robotics - Team 3461" />
<style>
  .header-row {
    background-image: url("{{site.data.index.banner.image-url}}");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center {{site.data.index.banner.image-align}} !important;
     
    width: 100%;
    min-height:25rem; 
    height: calc(33vw - 1vh);
    /* background-position: {{site.data.index.banner.image-align}}; */

  }

  #header-row-text {
    height:100%;
    width:100%;
  }
  #header-row-text h1 {
    text-shadow: 5px 5px 4px #000000;
    font-size:calc(100% + 5vw);
  }
  #header-row-text h2 {
    text-shadow: 5px 5px 4px #000000;
    font-size:calc(100% + 1vw);
  }

  .body {

    background-color: aliceblue!important;
  }
</style>
<script>
  {% for item in site.alerts %}
    showAlert({header:"{{item.header}}", message:"{{item.message}}", class:"{{item.class}}"});
  {% endfor %}
</script>

<!-- for facebook integration -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0" nonce="B0ihQ3ct"></script>
<script src="/assets/js/googleCalendar.js"></script>
<div class="container-fluid m-0 p-0 banner">
  <div class="header-row">
    <div id="header-row-text" class="row pr-0 align-items-center text-light">
      <div class="d-block text-center mx-auto">
        <h1 class="font-weight-bold col pr-0">{{site.data.index.banner.header}}</h1>
        <h2 class="font-weight-normal col">{{site.data.index.banner.subheader}}</h2>
      </div>
    </div>
  </div>
  <div class="header-text-area bg-light text-dark" style="width: 100%; border:1px solid rgba(0,0,0,.125);">
    <div class="text-center pt-5 pb-5">
      <h1 style="font-size:calc(100% + 2vw);">{{site.data.index.subbanner.text}}</h1>
      <h3 style="font-size:calc(100% + 0.5vw);">{{ site.data.index.subbanner.subtext}}</h3>
      <!-- <br> -->
      <!-- <h1 class="text-center pt-5">What We do... and what <strong>You</strong> can learn</h1> -->
      <div class="row">                              
        <div class="col-md-3 col-sm-6">
          <div class="mu-why-us-single">
            <a href="{{"/committee/cad" | absolute_url}}" class="text-dark">
            <div class="my-why-us-single-icon">
              <i class="fa fa-desktop" aria-hidden="true"></i>
            </div>
            <h3>C.A.D</h3>        
          </div>
          </a>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <a href="{{"/committee/programming" | absolute_url}}" class="text-dark">
            <div class="my-why-us-single-icon">
              <i class="fa fa-code" aria-hidden="true"></i>
            </div>
            <h3>Programming</h3>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="{{"/committee/electrical" | absolute_url}}" class="text-dark">
          <div class="my-why-us-single-icon">
            <i class="fa fa-plug" aria-hidden="true"></i>
          </div>
          <h3>Electrical</h3>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="{{"/committee/public-relations" | absolute_url}}" class="text-dark">
            <div class="my-why-us-single-icon">
              <i class="fa fa-suitcase" aria-hidden="true"></i>
            </div>
            <h3>Public Relations</h3>
          </a>
        </div>
        <br>
        <!-- <div class="w-100 pt-5 d-inline-flex justify-content-around">
          <button class="btn btn-lg btn-outline-primary">Button 1</button>
          <button class="btn btn-lg btn-outline-primary">Button 2</button>
        </div>                    -->
      </div>
            
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
{% include currentlyCompetingBanner.html %}
</div>
<br>
<div class="container-fluid">
  {% for item in site.data.index.content %}
  <div class="row  p-md-3 p-sm-0">
    <div class="col">  
      <div class="d-block"> 
        <div class="h1 d-inline-block text-sm-center text-left" style="font-family: 'BankGothicBold', sans-serif;">{{item.header | markdownify}}
  
        </div>
        <img class="d-inline-block" src="{{item.glyph}}" style=" max-height: 50px; padding-left: 10px;">       
      </div>
      <h4>{{item.content | markdownify }}</h4>
    </div>
    <div class="col-md"><img class="rounded img-fluid mx-auto d-block" src="{{item.image}}" style="width:500px"></div>
  </div> 
  <br>
  {% endfor %}


 
{% assign robot = site.robots | where_exp: "item", "item.title != 'Current Season'" | last %}
  <div class="row p-md-3 p-sm-0">
    <div class="col">
        <div class="d-block">
          <h1 style="font-family: 'BankGothicBold', sans-serif;">Latest Robot: {{robot.robotName}}</h1>
        </div>
        <h4>{{robot.content | markdownify }}</h4>
        <a class="btn btn-primary mb-3" href="{{robot.url}}">See more</a>
    </div>
      
    
    <div class="col-md">
      <img class="rounded img-fluid mx-auto d-block" src="{{robot.thumbnail}}" style="max-width:500px; width: 100%; height: auto;">
    </div>
  </div>



</div>

<br>


<div class="container-fluid mx-auto">
<!-- 4 Cards in between text and sponsors -->
<div class="card-deck justify-content-center text-dark text-center">
  <div class="card bg-light">      
    <div class="card-body text-center pb-1">            
      <p class="card-title">History</p>
    </div>
    <div id="demo" class="carousel slide pb-4" data-ride="carousel">
      <div class="carousel-item active">
        <img  src="/assets/images/PeacceLogoTieDyeWhiteText.svg" class="img-rounded" style="width:100%; height:15rem; object-fit: contain;">
          <div class="carousel-caption">
            <h3>{{item.header}}</h3>
          </div>
      </div>
      <div class="carousel-inner">
        {% for item in site.robots %}
        {% if item.thumbnail and item.thumbnail != "" %}
        <div class="carousel-item">
          <img  src="{{item.thumbnail}}" class="img-rounded" style="width:fit-content; height: fit-content; max-height: 55vh; min-height: 55vh; object-fit: contain;">
          <div class="carousel-caption" style="background-color: rgba(240, 240, 240, 0.384);">
            <h3 style="text-shadow: 5px; -webkit-text-stroke: 0.05rem; -webkit-text-stroke-color: black; font-size: 5vh;">{{item.title}}</h3>
            </div>
        </div>
        {% endif %}
        {% endfor %}    
      </div>
      
    </div>
  </div>

  <br>
  <!-- Maybe if we ever do outreach we can use this -->
  <!-- <div class="card">
      <div class="card-body text-center">
      <p class="card-title">Outreach</p>
      </div>
  </div> -->

  <br>

  <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-title">Latest Post</p>
        <div style="overflow: hidden; height:100%; max-height: 55vh; width: 100%;">
            <div class="fb-page" style=" clip: auto;" data-href="https://www.facebook.com/PEACCE" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/PEACCE" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/PEACCE">Operation P.E.A.C.C.E. Robotics</a></blockquote></div>
        </div>
      </div>
      
  </div>

  <br>

  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-title">Next Event</p>
        <h2 id="nextEvent">None Found</h2>
        <div id="calendarBoxButtons" style="display: none;">
          <h2 id="startTime"><i class="fa fa-calendar"></i></h2>
          <h2 id="location"><i class="fa fa-map-marker"></i></h2>
          <a id="goToCalendar" href="" class="btn btn-outline-primary"><i class="fa fa-calendar-plus-o"></i> Open in Google Calendar</a>
        </div>
        <script>
          async function updateBox() {
            event = await getNextEvent()
            // console.log(event);
            date = await getEventDate(event)

            topBarNotifier = {
              "header": `Next Event: ${event.summary}`,
              "message": `Please join us on ${date.toLocaleString()}`,
              "class": "light"
            }
            updateHomePageEventBox(event)
            showAlert(topBarNotifier)
          }
          updateBox()
          
          // const nextNonRecurringEvent = getNextNonRecurringEvent()
          // const nextEvent = getNextEvent()
          

          // if (nextNonRecurringEvent === null || nextNonRecurringEvent === undefined) {
          //   updateHomePageEventBox(nextEvent)
          // } else {
          //   updateHomePageEventBox(nextNonRecurringEvent)
          // }
          // document.getElementById('nextEvent').innerText += event
        </script>
        <!-- {% for post in site.posts limit:1 %}
        <a href="{{post.url}}" class="text-dark"><h3>{{post.title}}</h3> <br> {{ post.content | truncatewords: 60 }}</a>
        {% endfor %} -->
    </div>
  </div>
    
      <br>
</div>
</div>

<br>

<br>
<div class="container-fluid">
<h1 class=" text-center ">Thank you to our generous sponsors</h1>
<div class="logo-area justify-content-center  text-dark">
  {% for item in site.data.sponsors.sponsors %}
  {% if item.sponsortier == "Title" or item.sponsortier == "Platinum" %}
  {% if item.hidden == false %}
    <div class="sponsorlogo"> 
      {% if item.isNameOnly == false %}
      <img src="{{item.image}}">
      <div class="pt-2">
        <p>{{item.sponsortier | upcase}} SPONSOR</p>
        <p><b>{{item.name}}</b></p>
      </div>
      {% else %}
      <h1>{{item.name}}</h1>
      <div class="pt-2 nameOnlyBottom">
        <p>{{item.sponsortier | upcase}} SPONSOR</p>
        
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  
    <div class="sponsorlogo">
      <h1 class="h2">And Many More
        <br>
        <a href="{{"/sponsors.html" | absolute_url}}" class="btn btn-outline-primary btn-lg text-center mt-4">See more info</a>
      </h1>
    </div>

</div>
</div>
  <!-- <flex class="sponsorlogo logo-item"> 
    <div style="width: 300px; height: 225px;"><img class="sponsorlogo" id="logo" src="assets/images/4h-logo.svg" style="padding-top:20%; height: 200px;"></div>
    <p><b>PRINCIPLE SPONSOR</b> <br> Hartford Country 4H </p>
</flex> -->

</div>

<!-- <style>
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/bannerTemplate.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style> -->

<!-- for competing banner -->
