---
layout: default
title: FRC 3461
---
<meta property="og:title" content="Operation PEACCE Robotics - Team 3461" />

<image width="100%" height="440" src="/assets/images/bannerTemplate.png">
  {%- comment -%} <source src="/assets/videos/OPERATION PEACCE 2022 RECAP DONE.mp4" type="video/mp4"> {%- endcomment -%}
{%- comment -%} Your browser does not support HTML Video playback. {%- endcomment -%}
</image> 


<br>
<!-- Text and Image 1 -->
<!-- <div class="jumbotron jumbotron-fluid bg-light text-dark text-left">
    <div class="container">
      <h1>Who are we?</h1>
      <p>Some sample text to be filled later</p>
      <img class="float-right " src="/assets/images/PeacceLogoTieDyeWhiteText.svg" style="width:100px"></img>
      
    </div>
</div>

<br>

 Text and Image 2 
<div class="jumbotron jumbotron-fluid bg-light text-dark text-left">
    <div class="container">
        <h1>What is FIRST</h1>
    </div>
</div> -->

<div class="container-fluid">
    <!-- {% for item in site.data.index %}
    <div class="row bg-light text-dark" style="padding-left: 5%;">
      <div class="col"><h1 style="font-family: 'BankGothicBold', sans-serif;">{item.header}</h1><br><h4>{item.content}</h4></div>
      <div class="col-md"><img class="rounded img-fluid mx-auto d-block" src="{item.image}" style="width:500px"></img></div>
    </div>
    <br>
    {% endfor %} -->

  
    {% for item in site.data.index %}
    <div class="row bg-light text-dark" style="padding-left: 5%;">
      <div class="col">  
        <div style="display:flex"> <h1 style="font-family: 'BankGothicBold', sans-serif;">{{item.header}}</h1>
          <img src="{{item.glyph}}" style="height:50px; padding-left: 10px;"> 
          <br>
        </div>
        <h4>{{item.content}}</h4>
      </div>
      <div class="col-md"><img class="rounded img-fluid mx-auto d-block" src="{{item.image}}" style="width:500px"></div>
    </div> 
    <br>
    {% endfor %}
</div>

<div class="container-fluid">
  <!-- 4 Cards in between text and sponsors -->
  <div class="card-deck text-dark text-center">
      <div class="card" style="height:300px">
                
                <div class="card-body text-center pb-1 z-depth-2">            
                    <p class="card-title">History</p>
                </div>
                
                <div id="demo" class="carousel slide pb-4" data-ride="carousel">
                  


                    <!-- The slideshow -->
                    
                    <div class="carousel-item active">
                            <img  src="/assets/images/PeacceLogoTieDyeWhiteText.svg" class="img-rounded" style="width: max-content; height:230px; position:relative">

                            <div class="carousel-caption">
                                <h3>{{item.header}}</h3>
                               
                            </div>

                    </div>

                    <div class="carousel-inner">
                      
                      {% for item in site.data.history %}
                      {% if item.image and item.image != "" %}

                     <div class="carousel-item">
                            <img  src="{{item.image}}" class="img-rounded" style="width: max-content; height:230px; position:relative">

                            <div class="carousel-caption">
                                <h3>{{item.header}}</h3>
                               
                            </div>

                      </div>
                      

                      {% endif %}
                      {% endfor %}
                      
                    </div>
                
                </div>
        </div>
      
      <br>

      <div class="card z-depth-2">
            <div class="card-body text-center">
            <p class="card-title">Outreach</p>
            </div>
      </div>

      <br>

      <div class="card z-depth-2">
            <div class="card-body text-center">
            <p class="card-title">TBD</p>
            </div>
      </div>

      <br>

      <div class="card z-depth-2">
            <div class="card-body text-center">
            <p class="card-title">Latest Story</p>
              {% for post in site.posts limit:1 %}
              <h1>{{post.title}}</h1>
              <a url="{{post.url}}">{{ post.content | truncatewords: 60 }}</a>
              {% endfor %}
              <p>Recent Posts<p>
              {% for post in site.posts offset:1 limit:2 %}
              ... Show the next two posts ...
              {% endfor %}
            </div>
      </div>
  
     <br>

    </div>
</div>
<br>

<h1 class="bg-dark text-center text-light" style="margin-bottom: 0%;">Thank you to our generous sponsors</h1>
<div class="logo-area bg-dark text-dark">
  {% for item in site.data.sponsors %}
    <flex class="sponsorlogo logo-item z-depth-2"> 
        <div style="width: 300px; height: 225px;"><img class="sponsorlogo" id="logo" src="{{item.image}}" style="padding-top:{{item.imgpad}}; height:{{item.imgheight}}"></div>
        <p><b>{{item.sponsortier | upcase}} SPONSOR</b> <br> {{item.name}} </p>
    </flex>
  {% endfor %}

  <!-- <flex class="sponsorlogo logo-item"> 
    <div style="width: 300px; height: 225px;"><img class="sponsorlogo" id="logo" src="assets/images/4h-logo.svg" style="padding-top:20%; height: 200px;"></div>
    <p><b>PRINCIPLE SPONSOR</b> <br> Hartford Country 4H </p>
</flex> -->

</div>

<style>
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/bannerTemplate.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>