---
layout: default
title: Our Sponsors
---
<meta property="og:title" content="Our Sponsors - Team 3461" />
<br>
<div class="container-fluid">
    <div class="container">
        <h1 class="text-center">{{site.data.sponsors.text.header || markdownify}}</h1>
        <h3 class="text-center">{{site.data.sponsors.text.p1 || markdownify }}</h3><br> <!-- "p1" in the data file -->
        <h5 class="text-left">{{site.data.sponsors.text.p2 || markdownify}}</h5>
    </div>
    <br>
    <div class="container">
        <h1><strong>Our Sponsors</strong></h1>
        <br> <br>
        <h2><strong>Title Sponsors</strong></h2>
        {% for sponsor in site.data.sponsors.sponsors %}
        {% if sponsor.sponsortier == "Title" %}
            <div class="row text-dark mt-3 pt-3 bg-light rounded">
                <div class="col-sm-4">
                    {% if sponsor.image %}
                    <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
                    {% else %}
                    <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
                    {% endif %}
                    <h1 class="text-center">{{sponsor.name}}</h1>
                    <h3 class="text-center">{{sponsor.sponsortier}} sponsor</h3>
                </div>
                <div class="col-sm-8 text-left">
                        <h5>{{sponsor.summary}}</h5>
                        {% if sponsor.website %}
                        <a class="btn btn-primary" href="{{sponsor.website}}">Learn More</a>
                        {% else %}
                        <a class="btn btn-primary disabled" href="">Learn More</a>
                        {% endif %}
                </div>
            </div>
        <br>
        {% endif %}
        {% endfor %}
        <br>
        <br>
        <h2><strong>Platinum Sponsors</strong></h2>
        <br>
        {% for sponsor in site.data.sponsors.sponsors %}
        {% if sponsor.sponsortier == "Platinum" %}
            <div class="row text-dark bg-light rounded mt-3 pt-3">
                <div class="col-sm-4">
                    {% if sponsor.image %}
                    <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
                    {% else %}
                    <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    <h1>{{sponsor.name}}</h1>
                    <h3>{{sponsor.sponsortier}} sponsor</h3>
                    {% if sponsor.website %}
                    <a class="btn btn-primary" href="{{sponsor.website}}">Learn More</a>
                    {% else %}
                    <a class="btn btn-primary disabled" href="">Learn More</a>
                    {% endif %}
                </div>
            </div>
            <br>
        {% endif %}
        {% endfor %}
        <br>
        <br>
        <h2><strong>Gold Sponsors</strong></h2>
        <br>
        {% for sponsor in site.data.sponsors.sponsors %}
        {% if sponsor.sponsortier == "Gold" %}
            <div class="row text-dark mt-3 bg-light rounded pt-3">
                <div class="col-sm-4">
                    {% if sponsor.image %}
                    <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
                    {% else %}
                    <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    <h1>{{sponsor.name}}</h1>
                    <h3>{{sponsor.sponsortier}} sponsor</h3>
                    {% if sponsor.website %}
                    <a class="btn btn-primary" href="{{sponsor.website}}">Learn More</a>
                    {% else %}
                    <a class="btn btn-primary disabled" href="">Learn More</a>
                    {% endif %}
                </div>
            </div>
            <br>
        {% endif %}
        {% endfor %}
        <br>
        <br>
        <h2><strong>Silver Sponsors</strong></h2>
        {% for sponsor in site.data.sponsors.sponsors %}
        {% if sponsor.sponsortier == "Silver" %}
            <div class="row text-dark mt-3 bg-light rounded pt-3">
                <div class="col-sm-4">
                    {% if sponsor.image %}
                    <img src="{{sponsor.image}}" class="logo p-2 mx-auto d-block">
                    {% else %}
                    <img src="/assets/sponsors/noLogo.png" class="logo p-2 mx-auto d-block">
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    <h1 class="text-break">{{sponsor.name}}</h1>
                    <h3>{{sponsor.sponsortier}} sponsor</h3>
                    {% if sponsor.website %}
                    <a class="btn btn-primary" href="{{sponsor.website}}">Learn More</a>
                    {% else %}
                    <a class="btn btn-primary disabled" href="">Learn More</a>
                    {% endif %}
                </div>
            </div>
            <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
<br>
<style>
.logo {
	height: 15vh;
    max-width: 75%;
	object-fit: contain;
    width: 100%;
    max-width: 75%;
}


.sponsor {
	background-color: rgb(255, 255, 255);
    color: black;
	height: 580px;
	align-items: top;
	align-content: top;
	align-self: center;
    text-align: center;
	/* max-height: 280px; */

}
</style>