<!-- Footer -->

<!-- <section>
  <div class="container-fluid p-0 mt-5 font-small bg-light text-dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-0 my-0 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <img src="../assets/images/PeacceLogoTieDyeWhiteText.svg" style="width:25px; height:25px; padding-right: 00.25rem;" class="float-left">
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Operation PEACCE Robotics</span>
      </div>

      <div class="col-md-4 justify-content-end m-0 p-0 align-items-center d-flex">
        <div class="d-inline-block pr-2">
          <a href="{{site.github.repository_url}}/tree/{{site.github.build_revision}}" id="commit" class="text-dark pr-2"><i class="fa fa-code"></i> </a>
          <a href="{{site.github.repository_url}}/tree/{{site.github.source.branch}}" id="branch" class="text-dark"><i class="fa fa-code-fork"></i> {{site.github.source.branch}}</a> 
        </div>
        <div style="font-size: 20px;" class="pr-2">
          {% for platform in site.data.socialMedia %}
          <a href="{{ platform.link }}"><span><i class="{{ platform.icon}} {{platform.color}} "></i></span></a>
          {% endfor %}
        </div>
      </div>
    </footer>
  </div>
</section> -->

<footer class="jumbotron jumbotron-fluid mb-0 p-0 bg-light text-dark">
    <div class="row w-100 m-0 pt-4 justify-content-center">
      <div class="col-md-4 m-0 p-0 align-items-center text-left">
        <h3>Contact Us</h3>
        {% for item in site.data.contact %}
        <p>{{item.name}}: {{item.address}}</p>
        {% endfor %}
      </div>
      <div class="col-md-4 justify-content-end m-0 p-0 align-items-center text-left">
        <h3 class="mb-0">Site Version</h3>
        <div class="d-inline-block">
          <a href="{{site.github.repository_url}}/tree/{{site.github.build_revision}}" id="commit" class="text-dark pr-2"><i class="fa fa-code"></i> </a>
          <!-- <a href="{{site.github.repository_url}}/tree/{{site.github.source.branch}}" id="branch" class="text-dark pr-2"><i class="fa fa-code-fork"></i> {{site.github.source.branch}}</a>  -->
          <a id="time" class="text-dark pr-2"><i class="fa fa-clock-o"></i> {{ site.time | date:'%D' }}</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div style="font-size: 50px;" class="col-12 align-items-center justify-content-center d-inline-flex">
        {% for platform in site.data.socialMedia %}
        <div class="ml-3 mr-3">
          <a href="{{ platform.link }}"><span><i class="{{ platform.icon}} socialLink"></i></span></a>
        </div>
        {% endfor %}
      </div>
      <div class="mb-3 mb-md-0 text-body-primary text-center col pb-2"><strong>© {{ site.time | date: '%Y' }} Operation PEACCE Robotics</strong></div>
    </div>
</footer>

<script>
  truncateCommitNumber("{{ site.github.build_revision}}", 7);
  function truncateCommitNumber(str, num) {
    document.getElementById("commit").innerHTML += str.slice(0, num);
  }
</script>

<style>

.socialLink {
  color: #343a40!important;
}

.socialLink:hover {
  color: dimgray!important;
}

</style>

<!-- Footer -->