<!-- Footer -->
<footer class="page-footer font-small white pt-4">
    <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>{{site.github.repository_url}}</p>
        <p>{{site.github.enviroment.TBA_AUT_KEY}}</p>

      </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2023 Copyright:
      <a href="/"> Operation PEACCE Robotics</a>
    </div>
    <!-- Copyright -->
  
</footer>
  <!-- Footer -->