<!-- Footer -->
<footer class="page-footer font-small bg-light text-dark pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <!-- <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p> -->
        <div class="d-inline-block">
          {%comment%} <a href="{{site.github.repository_url}}/tree/{{site.github.build_revision}}" id="commit" class="text-dark pr-2"><i class="fa fa-code"></i> </a><br>
          <a href="{{site.github.repository_url}}/tree/{{site.github.source.branch}}" id="branch" class="text-dark"><i class="fa fa-code-fork"></i> {{site.github.source.branch}}</a> {%endcomment%}
        </div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <!-- <div class="col-md-3 mb-md-0 mb-3"> -->

        <!-- Links -->
        <!-- <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul> -->

      <!-- </div> -->
      <!-- Grid column -->

      <!-- Grid column -->
      <!-- <div class="col-md-3 mb-md-0 mb-3"> -->

        <!-- Links -->
        <!-- <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul> -->

      <!-- </div> -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2023 Copyright:
    <a href="/">Operation PEACCE Robotics</a>
  </div>
  <!-- Copyright -->

</footer>
<script>
  truncateCommitNumber("{{ site.github.build_revision}}", 7);
  function truncateCommitNumber(str, num) {
    document.getElementById("commit").innerHTML += str.slice(0, num);
  }
</script>

<!-- Footer -->