<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">


  <div class="navbar-brand pl-md-5 ml-md-5 d-flex">
    <flex><img src="../assets/images/PeacceLogoTieDyeWhiteText.svg" style="width:45px; height:45px;" class="float-left"></flex>
    <flex><h class="d-none d-md-block" style="font-family: 'BankGothic'sans-serif;padding-top: 9px;padding-left: 5px;">OPERATION P.E.A.C.C.E ROBOTICS</h></flex>
  </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav nav">
        {% for item in site.data.navigation %}
          <li class="nav-item text-lg-center ">
            <a class="nav-item text-lg-center nav-link" href="{{ item.link }}" {% if page.url == item.link %}style="color: black;"{% endif %}>
            {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
    </div>
</nav>