<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">


  <div class="navbar-brand pl-md-5 ml-md-5 d-flex">
    <flex><img src="../assets/images/PeacceLogoTieDyeWhiteText.svg" style="width:45px; height:45px;" class="float-left"></flex>
    <flex><h class="d-none d-md-block" style="font-family: 'BankGothicBold', sans-serif;padding-top: 9px;padding-left: 5px;">OPERATION P.E.A.C.C.E ROBOTICS</h></flex>
  </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav nav">
        {% for item in site.data.navigation %}
          {% if item.drop and item.drop == "false" %}
            <li class="nav-item text-lg-center ">
              <a class="nav-item text-lg-center nav-link" href="{{ item.link }}" {% if page.url == item.link %}style="color: black;"{% endif %}>
              {{ item.name }}
              </a>
            </li>

          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{item.name}}
              </a>
              <div class="dropdown-menu">
                {% for url in item.links %}
                  <a class="dropdown-item" href="{{url.url}}">{{url.name | capitalcase}}</a>
                {% endfor %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
        <div id="socialMediaContainer" style="color: black; font-size: medium;">
          <i id="facebook" class="fa fa-facebook-official"><span><a href="{{ site.data.socialMedia.facebook.link }}"></a></span></i>
        </div>
    </div>
</nav>