html {
	scroll-behavior: smooth;
}

body {
    
    overflow-x: hidden;

}

/* Sponsor Box */

.logo-area{
	display: flex;
	flex-flow: row wrap;
	align-content: space-around;
	justify-content: center;
	
}

.sponsorlogo {
	background-color: rgb(255, 255, 255);
    color: black;
	border-radius: 30px;
	width: 300px;
	height: 280px;
	align-items: center;
	align-content: center;
	align-self: center;
    text-align: center;
    max-width: 300px;
	
	height: fit-content;
    	margin: 1em;
	

}
.sponsorlogo img {
	padding-top: 20%;
	width: min-content;
	height: min-content;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.sponsorlogo p {
	position: relative;
	margin: 0%;

}

.sponsorlogo h1 {
	width: 300px;
	padding-top: 30%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}