---
layout: default

---

<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <h2>{{page.title}}</h2>
        <div class="fakeimg" style="background-image: url({{page.topcornerimage }}); background-position:left; background-size: contain; background-repeat:no-repeat;">
        </div>

        <br>
        <!-- <p>Some text about me in culpa qui officia deserunt mollit anim..</p> -->
        <h3>Useful Resources</h3>
        <!-- <p></p> -->
        <ul class="nav nav-pills flex-column">
            {% for item in page.resources %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item.link }}">{{item.name}}</a>
          </li>
          {% endfor %}
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2>{{ page.toprighttitle | markdownify }}</h2>
        <p>{{ page.toprighttext  | markdownify}}</p>
        <div class="fakeimg" style="background-image: url({{page.middlerightimage }}); background-position:center; background-size: contain; background-repeat: no-repeat;"></div>
        <div class="pb-2"></div>
        <br>
        <h2>{{ page.middlelefttitle | markdownify}}</h2>
        <p>{{ page.middlelefttext  | markdownify}}</p>
        <div class="fakeimg" style="background-image: url({{page.bottomleftimage }}); background-position:center; background-size: contain; background-repeat: no-repeat;"></div>
        <div class="pb-5"></div>
      </div>
    </div>
  </div>


  <style>
    .fakeimg {
        height:200px;
    }
  </style>