---
layout: markdown
---

<div class="container-fluid">
    <h1>{{ page.title }}</h1>
    <div><span id="blog-indicator"><i class="fa fa-clock-o"></i> {{ page.date | date_to_string }}</span> <span id="blog-indicator"><i class="fa fa-user"></i> {{ page.author }}</span> <button type="button" class="btn btn-primary align-middle" onclick="window.location.assign('/blog');">Back to blog <i class="fa fa-reply align-middle" style="font-size:25px"></i></button></div>
    <div class="blog">
    {{ content }}
    </div>
</div>
<style>
    .blog img {
        max-width: 100%;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .blog {
        font-size: larger;
    }
    span#blog-indicator {
        padding-right: 1.75rem;
    }
    i.fa {
        padding-right: 0.25rem;
    }
</style>