---
layout: default
---

{% capture robot_story %}{{ content }}{% endcapture %}

<main class="robot-page container-fluid py-3">
  <section class="robot-hero container-fluid">
    <div class="d-flex flex-md-row flex-sm-column row">
      <div class="w-md-25 w-sm-20 pr-3 col-sm-12 col-md-6 col-lg-3 pb-3" style="max-width: 25rem; height: 30rem;">
        <img src="{{ page.thumbnail }}" id="robotImagePlaceholder" class="carousel-item active img-thumbnail" alt="{{ page.robotName }} robot" style="width:100%; height:30rem; object-fit: cover;">
      </div>

      <div class="pl-3 col-sm-12 col-md-9">
        <h1>{{page.year}} - {{ page.robotName }}</h1>
        <h3 id="districtRank">District Rank: --</h3>
        <h3 id="districtPoints">Total District Points: --</h3>
        <p class="small">
          All data provided by The Blue Alliance
          <img src="{{ '/assets/images/tba_lamp.svg' | relative_url }}" alt="The Blue Alliance" style="height:3.5vh; color:#0f4bcb">
        </p>

        <div id="buttons" class="pb-3">
          {% if page.techBinder and page.techBinder != '' %}
          <a class="btn btn-danger align-middle" href="{{ page.techBinder | relative_url }}">View Technical Binder <i class="fa fa-book align-middle" style="font-size:25px"></i></a>
          {% else %}
          <button type="button" class="btn btn-danger disabled align-middle" id="techBinder">View Technical Binder <i class="fa fa-book align-middle" style="font-size:25px"></i></button>
          {% endif %}

          {% if page.buizBinder and page.buizBinder != '' %}
          <a class="btn btn-success align-middle" href="{{ page.buizBinder | relative_url }}">View Business Binder <i class="fa fa-book align-middle" style="font-size:25px"></i></a>
          {% else %}
          <button type="button" class="btn btn-success disabled align-middle" id="buizBinder">View Business Binder <i class="fa fa-book align-middle" style="font-size:25px"></i></button>
          {% endif %}

          <a class="btn btn-primary align-middle" href="https://www.thebluealliance.com/team/3461/{{ page.year }}">
            View On The Blue Alliance
            <span><img src="{{ '/assets/images/tba_lamp.svg' | relative_url }}" alt="" style="height:25px"></span>
          </a>
        </div>
        <div>
          {% if page.gameLogo %}
            <img src="{{ page.gameLogo }}" alt="{{ page.game }}" style="height: 5rem; margin-bottom: 1rem;">
          {% endif %}
        </div>
      </div>
    </div>

    <script>
      fetch("{{ '/data/tba/' | relative_url }}{{ page.year }}_district_rankings.json")
        .then(response => response.json())
        .then(rankings => {
          const team = rankings.find(item => item.team_key === "frc3461");
          const rankedTeams = rankings.filter(item => item.point_total !== 0);
          if (!team) return;

          document.getElementById("districtRank").innerText = `District Rank: ${team.rank}/${rankedTeams.length}`;
          document.getElementById("districtPoints").innerText = `District Points: ${team.point_total}`;
        })
        .catch(error => console.error("Robot district rankings:", error));
    </script>
  </section>

    <section class="robot-story">
        {{ robot_story }}
    </section>
    <br>
  {% include robot/season-results.html
      year=page.year
      team="frc3461"
  %}

  {% include robot/sponsors.html
      year=page.year
  %}

</main>

<script>
  document.title = "{{ page.year }} Robot: {{ page.robotName }} - FRC 3461";
</script>
