name: Autocreate robot profile if none exists
on: 
  schedule: 
   - cron: '0 5 1 4 *'  # runs at 05:00 on the first day of April, right after the Season ends

  workflow_dispatch:

  # workflow_run:
  #   workflows: ["73393124"]
  #   types:
  #     - completed

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write
  pull-requests: write
  actions: write

jobs: 
  create-robot-profile-if-not-exists:
    runs-on: ubuntu-latest 

    steps: 
    - name: Get current date
      id: date
      run: echo "DATE=$(date +'%Y')" >> $GITHUB_OUTPUT

    - name: Checkout Repo
      uses: actions/checkout@v6
      with: 
       ref: main
       clean: false

    - name: Run Script 
      run: python createRobotProfile.py


    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v8
      with:
        commit-message: Automatically Create ${{ steps.date.outputs.date }} Robot Profile
        
        body: |
          Do not merge this PR without first filling in the template this automated action has created
          To fill in the template, follow these instructions:
          1. open [this link](https://github.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/edit/robot-profile-${{ steps.date.outputs.date }}/_robots/${{ steps.date.outputs.date }}.md) and fill in the words that are in ALL CAPITAL LETTERS
          2. hit the green "Commit Changes" button, Select "commit the files to this branch" (named robot-profile-${{ steps.date.outputs.date }}), once you have commited the changes they should appear here on this pull request, in the box right below.
          3. verify the information in the file is correct, if so, approve the changes and merge the Pull Request to publish them to the internet.
        
          after you merge the Pull Request, fill in any additional data at [this link](https://www.peacce.org/admin/#/collections/edit/robots/${{ steps.date.outputs.date }}) (if you need to login, login with the team github credentials) and set the published flag to true
        
        title: Create a robot profile for ${{ steps.date.outputs.date }}
        branch: robot-profile-${{ steps.date.outputs.date }}
        token: ${{ secrets.NPM_AUDIT_PUSH_PAT_CLASSIC }} # Use a personal access token with write permissions to the repository
        delete-branch: true # Automatically delete the branch on the next run to prevent cluttering the repository with branches
    
    - name: Enable Auto-Merge
      uses: peter-evans/enable-pull-request-automerge@v3
      if: steps.cpr.outcome == 'success' # Only enable auto-merge if the pull request was successfully created
      with:
        token: ${{ secrets.NPM_AUDIT_PUSH_PAT_CLASSIC }} # Use the same personal access token to enable auto-merge on the pull request
        pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}