name: Run NPM Audit Weekly and commit fixes
on:
  schedule:
    - cron: '0 0 * * 0' # Runs every Sunday at midnight
  workflow_dispatch: # Allows manual triggering of the workflow 

permissions:
  contents: write # Allows the workflow to commit changes to the repository
  pull-requests: write
  actions: write

jobs:
  npm-audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
            ref: ${{ github.ref }} # Check out the current branch to ensure we are working with the correct codebase
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'latest' # Use the latest Node.js version
      - name: Run npm audit and fix vulnerabilities
        run: |
          npm audit fix
      - name: Commit and push changes
        if: always() # Continue even if NPM audit fails
        run: |
            git config --global user.name "GitHub Actions"
            git config --global user.email "actions@github.com"
            git add . 
            git commit -m "Weekly npm audit fixes" 
            
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
            commit-message: Automatically Create Robot Profile
            body: |
                Do not merge this PR without first filling in the template this automated action has created
                To fill in the template, follow these instructions:
                1. open [this link](https://github.com/Operation-P-E-A-C-C-E-Robotics/Operation-P-E-A-C-C-E-Robotics.github.io/edit/robot-profile-${{ steps.date.outputs.date }}/_robots/${{ steps.date.outputs.date }}.md) and fill in the words that are in ALL CAPITAL LETTERS
                2. hit the green "Commit Changes" button, Select "commit the files to this branch" (named robot-profile-${{ steps.date.outputs.date }}), once you have commited the changes they should appear here on this pull request, in the box right below.
                3. verify the information in the file is correct, if so, approve the changes and merge the Pull Request to publish them to the internet.
                
                after you merge the Pull Request, fill in any additional data at [this link](https://www.peacce.org/admin/#/collections/edit/robots/${{ steps.date.outputs.date }}) (if you need to login, login with the team github credentials) and set the published flag to true
                
            title: Create a robot profile for ${{ steps.date.outputs.date }}
            branch: robot-profile-${{ steps.date.outputs.date }}

      - name: Fire CI-CD Action
        uses: benc-uk/workflow-dispatch@v1
        with:
            ref: ${{ steps.cpr.outputs.pull-request-branch }}
            workflow: 73393124
            token:  ${{ secrets.github_token }}


  merge-pr:
    runs-on: ubuntu-latest
    steps: 
      - name: Merge Pull Request
        if: ${{ github.event_name == 'workflow_run'}}
        uses: juliangruber/merge-pull-request-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ steps.cpr.outputs.pull-request-number }}
          method: squash # merge rebase