name: Run NPM Audit Weekly and commit fixes
on:
  schedule:
    - cron: '0 0 * * 0' # Runs every Sunday at midnight
  workflow_dispatch: # Allows manual triggering of the workflow 

permissions:
  contents: write # Allows the workflow to commit changes to the repository
  pull-requests: write
  actions: write

jobs:
  npm-audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
            ref: ${{ github.ref }} # Check out the current branch to ensure we are working with the correct codebase
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'latest' # Use the latest Node.js version
      - name: Run npm audit and fix vulnerabilities
        id: npm-audit
        run: |
          npm audit fix
      - name: Commit and push changes
        if: always() # Continue even if NPM can not fix all vulerabilities
        run: |
            git config --global user.name "GitHub Actions"
            git config --global user.email "actions@github.com"
            git add . 
            git commit -m "Weekly npm audit fixes" 
            
      - name: Create Pull Request
        if: always() # Continue even if NPM can not fix all vulerabilities
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
            commit-message: Weekly npm audit fixes
            body: |
               ${{ steps.npm-audit.outputs.summary }}
            title: Weekly npm audit fixes - ${{ github.run_number}}
            base: main
            branch: npm-audit-fixes-${{ github.run_number }}
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Fire CI-CD Action #Trigger site rebuild
        if: always() # Continue even if NPM can not fix all vulerabilities
        uses: benc-uk/workflow-dispatch@v1
        with:
            ref: ${{ steps.cpr.outputs.pull-request-branch }}
            workflow: 73393124
            token:  ${{ secrets.github_token }}

      - name: Merge Pull Request
        if: always() # Continue even if NPM can not fix all vulerabilities
        uses: juliangruber/merge-pull-request-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ steps.cpr.outputs.pull-request-number }}
          method: squash # merge rebase