name: Run NPM Audit Weekly and commit fixes
on:
  schedule:
    - cron: '0 0 * * 0' # Runs every Sunday at midnight
  workflow_dispatch: # Allows manual triggering of the workflow 

permissions:
  contents: write # Allows the workflow to commit changes to the repository
  pull-requests: write
  actions: write

jobs:
  npm-audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
            ref: ${{ github.ref }} # Check out the current branch to ensure we are working with the correct codebase
            sparse-checkout: |
              package.json
              package-lock.json
              .gitignore
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'latest' # Use the latest Node.js version
      - name: Run npm audit and fix vulnerabilities
        id: npm-audit
        run: |
          echo "NPM_OUTPUT=$(npm audit fix)" >> $GITHUB_OUTPUT
        continue-on-error: true # Continue even if NPM can not fix all vulnerabilities
      - name: Commit and push changes
        if: always() # Continue even if NPM can not fix all vulerabilities
        run: |
            git config --global user.name "GitHub Actions"
            git config --global user.email "actions@github.com"
            git add . 
            git commit -m "Weekly npm audit fixes" 
            
      - name: Create Pull Request
        if: always() # Continue even if NPM can not fix all vulerabilities
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
            commit-message: Weekly npm audit fixes
            body: |
               ${{ steps.npm-audit.outputs.npm_output }}
            title: Weekly npm audit fixes - ${{ github.run_number}}
            base: ${{github.ref_name}} # Create the pull request against the current branch
            branch: npm-audit-fixes-${{ github.run_number }}
            token: ${{ secrets.NPM_AUDIT_PUSH_PAT_CLASSIC }} # Use a personal access token with write permissions to the repository

            delete-branch: true # Automatically delete the branch on the next run to prevent cluttering the repository with branches
      
      - name: Enable Auto-Merge
        if: always() # Continue even if NPM can not fix all vulerabilities
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.NPM_AUDIT_PUSH_PAT_CLASSIC }} # Use the same personal access token to enable auto-merge on the pull request
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
  cache-npm:
    runs-on: ubuntu-latest
    needs: npm-audit
    steps:
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-