name: Run NPM Audit Weekly and commit fixes
on:
  schedule:
    - cron: '0 0 * * 0' # Runs every Sunday at midnight
  workflow_dispatch: # Allows manual triggering of the workflow 

permissions:
  contents: write # Allows the workflow to commit changes to the repository
  pull-requests: write
  actions: write

jobs:
  npm-audit:
    runs-on: ubuntu-latest
    outputs:
      npm-audit: ${{ steps.npm-audit.outputs.npm-audit }} # Capture the output of the npm audit fix command to include in the pull request body for reference    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
            ref: ${{ github.ref }} # Check out the current branch to ensure we are working with the correct codebase
            sparse-checkout: |
              package.json
              package-lock.json
              .gitignore
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'latest' # Use the latest Node.js version

      - name: Run npm audit and fix vulnerabilities
        id: npm-audit
        run: | 
          npm audit fix
          echo $(npm audit --json) > audit.json # Save the audit report as JSON for later parsing
        continue-on-error: true # Continue even if NPM can not fix all vulnerabilities

      - name: Parse audit safely
        id: parse-audit
        run: |
          AUDIT_JSON=$(npm audit --json || true)

          HIGH=$(printf '%s' "$AUDIT_JSON" | jq '.metadata.vulnerabilities.high')
          MOD=$(printf '%s' "$AUDIT_JSON" | jq '.metadata.vulnerabilities.moderate')
          LOW=$(printf '%s' "$AUDIT_JSON" | jq '.metadata.vulnerabilities.low')
          TOTAL=$(printf '%s' "$AUDIT_JSON" | jq '.metadata.vulnerabilities.total')

          MESSAGE="chore: npm audit report - $TOTAL vulnerabilities ($HIGH high, $MOD moderate, $LOW low)"

          SAFE_MESSAGE=$(printf "%s" "$MESSAGE" | tr '\n' ' ' | tr -cd '[:alnum:] .,:()-')

          echo "message=$SAFE_MESSAGE" >> "$GITHUB_OUTPUT"     
             
      - name: Commit and push changes
        id: commit
        continue-on-error: true # Continue even if there are no changes to commit
        run: |
            git config --global user.name "GitHub Actions"
            git config --global user.email "actions@github.com"
            git add . 
            git commit -m "${{ steps.parse-audit.outputs.message }}"  
            
      - name: Create Pull Request
        id: cpr
        if: steps.commit.outcome == 'success' # Only create a pull request if there were changes to commit
        uses: peter-evans/create-pull-request@v8
        with:
            commit-message: Weekly npm audit fixes
            body: |
               ${{ steps.parse-audit.outputs.message }}
            title: Weekly npm audit fixes - ${{ github.run_number}}
            base: ${{github.ref_name}} # Create the pull request against the current branch
            branch: npm-audit-fixes-${{ github.run_number }}
            token: ${{ secrets.NPM_AUDIT_PUSH_PAT_CLASSIC }} # Use a personal access token with write permissions to the repository

            delete-branch: true # Automatically delete the branch on the next run to prevent cluttering the repository with branches
      
      - name: Enable Auto-Merge
        uses: peter-evans/enable-pull-request-automerge@v3
        if: steps.cpr.outcome == 'success' # Only enable auto-merge if the pull request was successfully created
        with:
          token: ${{ secrets.NPM_AUDIT_PUSH_PAT_CLASSIC }} # Use the same personal access token to enable auto-merge on the pull request
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
